<div class=" container mt-4">
    
    <h1>Listado de personas </h1>
     <hr>

    <div class="row">
        <div class="col">
    
            <button class="btn btn-outline-primary"  style="float: right;"
            routerLink="/people/new"
            >
                <i class="fa fa-plus" style="margin-right: 3px;"
                ></i>
                Agregar
            </button>

        </div>
    </div>


    <div class="row">

    <div class="col-12 mt-2">
  
      <table class="table ">
        <thead class="thead table-dark ">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Profresion</th>
            <th>Nivel</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let people of peoples; let i = index" >
            <td>{{i + 1}}</td>
            <td>{{people.nombre}}</td>
            <td>{{people.profesion}}</td>
            <td >
              <span *ngIf="people.nivel" class="badge bg-success">Bueno</span>
              <span *ngIf="!people.nivel" class="badge bg-danger">Malo</span>
            </td>
          </tr>
          
        </tbody>
        
      </table>

    </div>
    </div>

</div>
